.g5-container{
    width:100%;
    height: 100%;
    position: relative;
    top:0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    transition: 0.5s;
}
.g5-ul{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding-inline-start: 0;
    width: 90%;
    height:100%;
}

.g5-li{
    position: relative;
    width: 100%;
    height: 100%;
    list-style: none;
}

.g5-filter-text {
    width:50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right:10px;
}

.g5-wrapper{
    position: relative;
    height: 100%;
    flex-grow: 1;
    padding: 10px;
    margin-bottom: 40px;

}

.g5-image-container{
    display: flex;
    justify-content: center;
    align-items: center
}

.g5-text-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}


.g5-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-sizing: border-box;
    margin:0;
    border-radius: 0;
    transition: 0.5s;
}

.g5-company{
    position: relative;
    bottom: 0;
    left: 0;
    color: grey;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 80%;
    font-weight: bold;
    transition: 0.5s;
}

.g5-text{
    position: relative;
    bottom: 0;
    left: 0;
    color: black;
    margin-top: 0px;
    margin-bottom: 10px;
    font-family: TekoSemibold;
    font-size: 150%;
    transition: 0.5s;
}

.g5-action-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 10px;
}

.g5-action{
    position: relative;
    width: 50%;
    color: blue;
    font-size: 70%;
    font-weight: bold;
    margin: 0;
    left:0;
    text-decoration: none;
    transition: 0.5s;
}

.g5-icon{
    width: 20px;
    left:0;
    position: relative;
    transition: 0.5s;
}

.g5-wrapper:hover .g5-text{
    width: 90%;
    left:5%;
    font-size:40px;
    transition: 0.5s;
}

.g5-wrapper:hover .g5-img{
    width: 90%;
    transition: 0.5s;
}

.g5-wrapper:hover .g5-company{
    left:5%;
    font-size:20px;
    transition: 0.5s;
}

.g5-wrapper:hover .g5-action{
    left:5%;
    transition: 0.5s;
}

.g5-wrapper:hover .g5-icon{
    left:5%;
    transition: 0.5s;
}

.g5-wrapper:hover {
    height:100%;
    transition: 0.5s;
}


@media (max-width:3000px){
    .g5-container{
        width:100%;
    }

    .g5-wrapper{
        width:40%;
    }

    .g5-wrapper:hover .g5-text{
        width: 90%;
        left:5%;
        font-size:40px;
        transition: 0.5s;
    }
}

@media (max-width:1300px){
    .g5-container{
        width:100%;
    }

    .g5-wrapper{
        width:40%;
    }

    .g5-wrapper:hover .g5-text{
        width: 90%;
        left:5%;
        font-size:30px;
        transition: 0.5s;
    }
}

@media (max-width:700px){
    .g5-container{
        width:100%;
    }

    .g5-wrapper{
        width:100%;
    }
}










